alias ll='ls -lh'
alias l='ll'
alias la='ls -lah'

# TODO make cross-platform
alias nnn='nautilus .'
# Ubuntu specific
alias install='sudo apt-get install -y'
alias update='sudo apt-get update'
alias upgrade='sudo apt-get upgrade'
alias remove='sudo apt-get remove'

alias py3='python3'
alias pyserver='py3 -m SimpleHTTPServer'

alias vi='nvim'
alias nv='nvim'
alias vimrc='vi ~/.vimrc'
alias  e='emacsclient'
alias et='emacsclient -t'
alias ec='emacsclient -nc'

alias  gp='git push'
alias  gs='git status'
alias gco='git checkout'
alias gdd='git diff'
alias gcp='git cherry-pick'

alias tmux='tmux -2'
# Work stuff
alias redo='/home/user/code/docks/duma-redo.sh'
alias runtest='/home/user/code/docks/duma-runtest.sh'
alias dumatest='redo && runtest'

# greps
alias grep='grep  --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn} --exclude=tags -I'
alias egrep='egrep  --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn} --exclude=tags -I'
alias fgrep='fgrep  --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn} --exclude=tags -I'

