[user]
	name = Karl Velicka
	email = karolis.velicka@gmail.com
[alias]
	co = checkout
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgm = log --graph --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n%w(0,4,4)%-b%n%n%-N' 
    lp = log -p --color --abbrev-commit
    br = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
	l = "!bash -c \"git log \"$@\" --all --graph --branches --decorate --abbrev-commit --date=short --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(blue)%G?%Creset'\""
	lpb = "!bash -c \"git log -p $(git merge-base HEAD origin/master)..\""
	lpbr = "!bash -c \"git log -p $(git merge-base HEAD origin/master).. --reverse\""

	s = status
	d = difftool -y
	cc = commit -a
[core]
	editor = nvim
    #pager = delta --dark
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[url "http://github.com/ghc/packages-"]
	insteadOf = http://github.com/ghc/packages/
[url "https://github.com/ghc/packages-"]
	insteadOf = https://github.com/ghc/packages/
[url "ssh://git@github.com/ghc/packages-"]
	insteadOf = ssh://git@github.com/ghc/packages/
[url "git@github.com:/ghc/packages-"]
	insteadOf = git@github.com:/ghc/packages/
[push]
	default = current
[merge]
	conflictStyle = diff3

[pull]
    rebase = true
