[submodule ".vim/bundle/vim-erlang-tags"]
	path = config/nvim/bundle/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule ".vim/bundle/vim-fugitive"]
	path = config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-elixir"]
	path = config/nvim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/syntastic"]
	path = config/nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-commentary"]
	path = config/nvim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/nvim-lspconfig"]
	path = config/nvim/bundle/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule ".vim/bundle/nvim-treesitter"]
	path = config/nvim/bundle/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule ".vim/bundle/plenary.nvim"]
	path = config/nvim/bundle/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule ".vim/bundle/telescope.nvim"]
	path = config/nvim/bundle/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule ".vim/bundle/vim-beancount"]
	path = config/nvim/bundle/vim-beancount
	url = git@github.com:nathangrigg/vim-beancount.git
[submodule ".vim/bundle/tagbar"]
	path = config/nvim/bundle/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = config/nvim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-sleuth"]
	path = config/nvim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
